.card-deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  flex: 0 1 calc(25% - 1em);
}

@media screen and (min-width: 40em) {
  .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

  .card {
      flex: 0 1 calc(25% - 1em);
  }
}

@media screen and (max-width: 49em) {
  .hidden { 
    display: none;
  }
  .card {
      flex: 0 1 calc(25% - 1em);
  }
}

.wrapper {
  display: block;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}

#dismiss {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#left-links{
  flex:1 1 200px;
}

#newSidebar {
  height: 100vh;
  padding-top: 30px;
  position: absolute;
}

#extendedSidebar {
  height: 100vh;
  padding-top: 30px;
  position: absolute;
}

.anchorTag {
  text-decoration: none;
  color: white;
}

.anchorTag:hover {
  color: rgb(97, 219, 251);
}

.mainBody {
  background-color: blue;
}

.card-info {
  text-decoration: none;
}

.background {
  background-color: rgb(22, 31, 43);
}

.genre-card {
  background-color: rgb(27, 23, 23);
  border-radius: .3rem;
  color: #a1b2bc;
}
  

p {
  color: #a1b2bc;
  font-size: 0.8rem;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  width: 10%;
  height: auto;
  top: 2%;
  left: 10%;
  text-align: center;
}
  
.card-container {
  position: relative;
}

.icon-item {
  padding-right: 10px;
}

.icon2 {
  color: white;
  font-size: 25px;
  display: flex;
  float: left;
  width: 10%;
  height: auto;
  margin-left: 10px;
  position: absolute;
  bottom: 0%;
}

.icon3 {
  color: white;
  font-size: 25px;
  /* display: flex; */
  float: right;
  width: 10%;
  height: auto;
  position: absolute;
  bottom: 2%;
  left: 85%;
}

.introduction-card {
  background-color: rgb(20, 20, 35);
}